@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

.navbar-pad {
    padding-top: 0;
    padding-bottom: 0;
}

.pos-fix-bt0-z10 {
    position: fixed;
    bottom: 0;
    z-index: 10;
}

.border-top-e6 {
    border-top: 1px solid #e6e6e6;
}

.border-btm-e6 {
    border-bottom: 1px solid #e6e6e6;
}

.border-rt-e6 {
    border-right: 1px solid #e6e6e6;
}

.loading-bg-color {
    background-color: #f8f9fa;
}